.skills {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #433878;
}

.skills-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-item {
  width: 200px;
  margin-bottom: 30px;
  text-align: center;
}

.skill-icon {
  font-size: 50px;
  color: #624E88;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.skill-item:hover .skill-icon {
  transform: scale(1.1);
}

.skill-item h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #444;
}

.skill-level {
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #624E88;
  border-radius: 20px;
  transition: width 0.5s ease;
}

.skill-item:hover .progress-bar {
  background-color: #c0b8cf;
}

@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    width: 80%;
  }
}
